<!-- templates/blog/index.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!--====================== Hero ======================-->
    {% include 'components/hero.html' %}
    <!--====================== Hero end ==================-->

    <!--======================= Posts trends =============-->
    {% include 'components/posts_trend.html' %}
    <!--======================= Posts trends end =========-->

    <!--===================== Posts latest ===============-->
    {% include 'components/posts_latest.html' %}
    <!--===================== Posts latest end ===========-->

{% endblock %}